/*** BREAKPOINTS ***/
$screen-xxxlg-max: 1920px;
$screen-xxlg-max: 1600px;
$screen-xlg-max: 1366px;
$screen-lg-min: 1280px;
$screen-md-max: 1279px;
$screen-md-min: 1024px;
$screen-sm-max: 1023px;
$screen-sm-min: 768px;
$screen-xs-max: 767px;
$screen-xs-middle: 480px;
$screen-iPhone-6plus: 414px;
$screen-iPhone-6: 375px;
$screen-xs-min: 320px;

$color_body:  #ebeff2;

$color_light_grey_1: #ebeff2;
$color_light_grey_2: #fafbfc;
$color_light_grey_3: #f5f7f8;
$color_light_grey_4: #d8dbdf;
$color_light_grey_5: #faf9f9;
$color_light_grey_6: #b7bbc1;
$color_light_grey_7: #eaecee;
$color_light_grey_8: #f9fafa;


$color_grey_1:  #4c5264;
$color_grey_2:  #333333;
$color_grey_3:  #202941;

$color_red_1:   #ae001e;
$color_red_2:   #ed1f24;
$color_black: #000000;
$color_white: #ffffff;
$color_blue_1:   #2285b7;
$color_orange_1: #fd8f00;
$color_pink_1:   #fae7eb;
$color_pink_2:   #ed968f;

$color_blue: #0784bf;
$color_light_blue: rgba(7, 132, 191, 0.5);
$color_orange: #e4a33e;
$color_light_orange: rgba(228, 163, 62, 0.5);
$color_green: #43a380;
$color_light_green: rgba(67, 163, 62, 0.5);
$color_violet: #9d2899;
$color_light_violet: rgba(157, 40, 153, 0.5);

$background_white: #ffffff;
$background_white_1_30: rgba(255, 255, 255, 0.3);
$background_white_1_90: rgba(255, 255, 255, 0.9);
$background_grey_1:  #4c5264;
$background_grey_2:  #333333;
$background_grey_3:  #fbfcff;
$background_red_1:   #ae001e;
$background_blue: #0784bf;
$background_orange: #e4a33e;
$background_green: #43a380;
$background_violet: #9d2899;

$font_family_icon: "rsiworkflow";
$font_family_bold: "open_sansbold";
$font_family_light: "open_sanslight";
$font_family_regular: "open_sansregular";
$font_family_semibold: "open_sanssemibold";

$pixel_144: 9em;
$pixel_128: 8em;
$pixel_80: 5em;
$pixel_64: 4em;
$pixel_60: 3.750em;
$pixel_56: 3.5em;
$pixel_55: 3.438em;
$pixel_50: 3.125em;
$pixel_48: 3em;
$pixel_42: 2.625em;
$pixel_40: 2.5em;
$pixel_36: 2.250em;
$pixel_35: 2.188em;
$pixel_34: 2.125em;
$pixel_32: 2em;
$pixel_30: 1.875em;
$pixel_28: 1.75em;
$pixel_26: 1.625em;
$pixel_25: 1.563em;
$pixel_24: 1.5em;
$pixel_23: 1.438em;
$pixel_22: 1.375em;
$pixel_21: 1.313em;
$pixel_20: 1.25em;
$pixel_19: 1.188em;
$pixel_18: 1.125em;
$pixel_17: 1.063em;
$pixel_16: 1em;
$pixel_15: 0.938em;
$pixel_14: 0.875em;
$pixel_13: 0.813em;
$pixel_12: 0.75em;
$pixel_10: 0.625em;
$pixel_9: 0.563em;
$pixel_8: 0.5em;
$pixel_7: 0.438em;
$pixel_6: 0.375em;
$pixel_5: 0.313em;
$pixel_4: 0.250em;
$pixel_3: 0.188em;
$pixel_2: 0.125em;
