/** helper-classes.scss **/
/*** BREAKPOINTS ***/
/** BREAKPOINTS **/
/* v-margin */
.v-margin-5 {
  margin-top: 5px; }

.v-margin-10 {
  margin-top: 10px; }

.v-margin-15 {
  margin-top: 15px; }

.v-margin-20 {
  margin-top: 20px; }

.v-margin-25 {
  margin-top: 25px; }

.v-margin-30 {
  margin-top: 30px; }

.v-margin-35 {
  margin-top: 35px; }

.v-margin-40 {
  margin-top: 40px; }

.v-margin-45 {
  margin-top: 45px; }

.v-margin-50 {
  margin-top: 50px; }
